<li>
	{{name}}

	<button class="burgers-devored" data-id="{{id}}" data-burgersDevoured="{{sleep}}">
		{{#if devoured}}DEVOURED!{{else}}ADD BURGER!{{/if}}
	</button>

	<button class="delete-burgers" data-id="{{this.id}}">DELETE!</button>
</li>
